<!-- app/views/games/index.html.erb -->
<div class="container mt-4">
  <% if user_signed_in? %>
    <h1 class="header text-center">My Games</h1>
    <div class="row">
      <% @games.each do |game| %>
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= game.level.titleize %> Game</h5>
              <p class="card-text">
                <strong>Rows:</strong> <%= game.rows %><br>
                <strong>Cols:</strong> <%= game.cols %><br>
                <strong>Mines:</strong> <%= game.mine_count %><br>
                <strong>Status:</strong> <%= game.state.titleize %>
              </p>
              <%= link_to 'View/Resume', game_path(game), class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>You need to sign in to view your games.</p>
  <% end %>
</div>
