<div class="container mt-4">
    <h1 class="new-game-header text-center">New Game</h1>
    <%= form_with model: @game, local: true do |form| %>
      <div class="mb-30" style="margin-bottom: 8rem;">
        <%= form.label :level %>
        <%= form.select :level, options_for_select(Game.levels.keys.reject { |level| level == "custom" }.map { |level| [level.titleize, level] }, selected: @game.level), { include_blank: true }, class: "form-select" %>
      </div>

      <div class="d-flex justify-content-start gap-2 mt-3">
        <%= form.submit "Start Game", class: "btn btn-primary" %>
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#customSettingsModal">
          Custom Settings
        </button>
      </div>
    <% end %>
</div>

<div class="modal fade" id="customSettingsModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Custom Game Settings</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with model: @game, local: true do |form| %>
          <%= form.hidden_field :level, value: "custom" %>
          <div class="mb-3">
            <%= form.label :rows %>
            <%= form.number_field :rows, class: "form-control" %>
          </div>

          <div class="mb-3">
            <%= form.label :cols %>
            <%= form.number_field :cols, class: "form-control" %>
          </div>

          <div class="mb-3">
            <%= form.label :mine_count %>
            <%= form.number_field :mine_count, class: "form-control" %>
          </div>

          <%= form.submit "Save Settings", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
